<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <%=  @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:@book do |book|%>
  <div class="field">
    <%= book.label :title, "Title" %>
    <%= book.text_field :title %>
  </div>
  <div class="field">
    <%= book.label :body, "Body" %>
    <%= book.text_area :body %>
  </div>
  <div class="field">
    <%= book.submit 'Update Book' %>
  </div>
<% end %>

<%= link_to "Show", book_path(@book.id) %>
|
<%= link_to "Back", books_path(@books) %>