<h1>Editing Book</h1>
<%= form_with model:@book do |book|%>
  <P>Title</P>
  <%= book.text_field :title %>
  <P>Body</P>
  <%= book.text_area :body %>
  <%= book.submit 'Update Book' %>
<% end %>
<%= link_to "Show", book_path(@book.id) %>
<%= link_to "Back", books_path(@books) %>